@charset "utf-8";
/* CSS Document */

body,div,header,footer,nav,article,section,canvas,ul,li,img,p,h1,h2,h3,h4,h5,h6,span,em,i,strong,b,a,input,select,label,table,tr,td{ margin:0; padding:0;text-align:left;}
#Main,#Child{ position:absolute;};
#Main{ z-index:10}
#Child{ z-index:20}
p{font-size: 80px;
text-align: center;}
input{width: 120px;
height: 40px;
font-size: 30px;
text-align: center;
}
#Game{ position:absolute; overflow:hidden; width:640px; height:600px}